/*----CUSTOM CSS----*/

/*COVER*/
.cover{
	height: 45vh;
	width: 100%;
	
}
.arrow{
	font-size: 200%;
	color: rgba(66,139,202,0.4);
	display:block;
	text-align: center;
	margin: 0 auto;
	position: relative;
	animation-name: arrow;
	animation-duration:1s;
	animation-iteration-count: infinite;
}
@keyframes arrow{
	0%{
		top:0;
	}
	50%{
		top:10px;
	}
	100%{
		top:0;
}
/*.box-cover{
	position: relative;
	top:15%;
	left:10%;
	color: white;
	background-color: rgba(0,0,0,0.1);
	padding: 20px;
}*/
.card h1{
	margin-bottom: 5px;
}
body{
	font-family: 'Karla', sans-serif;
}
.card-text{
	font-family: 'Karla', sans-serif;
	font-size:100% ;
	line-height: 110%;
}
.card-title{
	 font-family: 'Karla', sans-serif;
}

button{
	font-size: 130%;
}
.navbar{
	background-color: white;
	margin: 10px;
	/*border-top: 1px solid #d3d3d3;
	border-bottom: : 1px solid #d3d3d3;*/
	border-top:2px solid #d3d3d3 ;
	border-bottom: 2px solid #d3d3d3;
	padding: 0 10px;
	box-shadow: 0 7px 10px rgba(211,211,211,0.6);
}
